<!DOCTYPE html>
<html>
    <header>
        <meta charset="utf-8"/>
        <title> Informação do Aluno</title>
        <link rel="icon" href="{{ url_for('static', filename="faveicon.png") }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename="styles/w3.css") }}"/>
    </header>
    <body>
        <div class="w3-card-4">
            <header class="w3-container w3-purple">
                <h1> Informação do Aluno </h1>
            </header>

            <div class="w3-container">
                <table class="w3-table-all">
                    <tr>
                        <th>Id</th>
                        <th>Nome</th>
                        <th>Curso</th>
                        <th>Nota dos TPCs</th>
                        <th>Nota do Projeto</th>
                        <th>Nota dos Exame Normal</th>
                        <th>Nota dos Exame de Recurso</th>
                        <th>Nota dos Exame de Época Especial</th>
                    </tr>

                    {% for entry in data.aluno %}
                    <tr>
                        <td>{{entry.id.value}}</td>
                        <td>{{entry.nome.value}}</td>
                        <td>{{entry.curso.value}}</td>
                        <td>{{entry.notaTotalTPCs.value}}</td>
                        <td>{{entry.projeto.value}}</td>
                        <td>{{entry.notaExameNormal.value}}</td>
                        <td>{{entry.notaExameRecurso.value}}</td>
                        <td>{{entry.notaExameEspecial.value}}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>

            <footer class="w3-container w3-purple">
                <h5> Gerado por RPCW2024 em {{ data.date }}</h5>
            </footer>
        </div>
    </body>
</html>

